<br /><br />

<div class="col-8 offset-2 booyah-box">
  <h1>leaderboard</h1>
  <br />
  <% board = {} %>
    <% @users.each do |user| %>
      <% this_user_score = 0 %>
      <% user.games.each do |prediction| %>
        <% if (prediction.title.include? "one") %>
          <% @results.each do |result| %>
            <% if (result.hometeam.eql? prediction.hometeam) && (result.awayteam.eql? prediction.awayteam) %>

              <% if (prediction.hometeam_prediction > prediction.awayteam_prediction) && (result.hometeam_result > result.awayteam_result) || (prediction.hometeam_prediction < prediction.awayteam_prediction) && (result.hometeam_result < result.awayteam_result)%>
                <% this_user_score += 5 %>
              <% end %>


              <% if (prediction.hometeam_prediction == result.hometeam_result) && (prediction.awayteam_prediction == result.awayteam_result) %>
                <% this_user_score += 7 %>
              <% end %>

            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <% board[user.email] = this_user_score %>
    <% end %>


  <% board.sort_by {|k,v| v}.reverse.each do |player| %>
    <div class="row">
      <div class="col-3 leaderboard">
        <%= player[0]%>
      </div>
      <div class="col-1 leaderboard">
        <%= player[1] %>
      </div>
    </div>
  <% end %>



</div>