<br /><br />

<div class="col-8 offset-2 booyah-box">
  <h1>leaderboard</h1>
  <br />
  <% board = {} %>
    <% @users.each do |user| %>
      <% this_user_score = 0 %>
      <% user.games.each do |prediction| %>
        <% if (prediction.title.include? "one") %>
          <% @results.each do |result| %>
            <% if (result.hometeam.eql? prediction.hometeam) && (result.awayteam.eql? prediction.awayteam) %>

              <% if (prediction.hometeam_prediction > prediction.awayteam_prediction) && (result.hometeam_result > result.awayteam_result) || (prediction.hometeam_prediction < prediction.awayteam_prediction) && (result.hometeam_result < result.awayteam_result)%>
                <% this_user_score += 5 %>
              <% end %>


              <% if (prediction.hometeam_prediction == result.hometeam_result) && (prediction.awayteam_prediction == result.awayteam_result) %>
                <% this_user_score += 7 %>
              <% elsif prediction.hometeam_prediction.between?(result.hometeam_result-1,result.hometeam_result+1) && prediction.awayteam_prediction.between?(result.awayteam_result-1,result.awayteam_result+1)%>
                <% this_user_score += 6 %>
              <% elsif prediction.hometeam_prediction.between?(result.hometeam_result-2,result.hometeam_result+2) && prediction.awayteam_prediction.between?(result.awayteam_result-2,result.awayteam_result+2)%>
                <% this_user_score += 5 %>
              <% elsif prediction.hometeam_prediction.between?(result.hometeam_result-3,result.hometeam_result+3) && prediction.awayteam_prediction.between?(result.awayteam_result-3,result.awayteam_result+3)%>
                <% this_user_score += 4 %>
              <% elsif prediction.hometeam_prediction.between?(result.hometeam_result-4,result.hometeam_result+4) && prediction.awayteam_prediction.between?(result.awayteam_result-4,result.awayteam_result+4)%>
                <% this_user_score += 3 %>
              <% elsif prediction.hometeam_prediction.between?(result.hometeam_result-5,result.hometeam_result+5) && prediction.awayteam_prediction.between?(result.awayteam_result-5,result.awayteam_result+5)%>
                <% this_user_score += 2 %>
              <% elsif prediction.hometeam_prediction.between?(result.hometeam_result-6,result.hometeam_result+6) && prediction.awayteam_prediction.between?(result.awayteam_result-6,result.awayteam_result+6)%>
                <% this_user_score += 1 %>
              <% end %>


            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <% board[user.email] = this_user_score %>
    <% end %>


  <% board.sort_by {|k,v| v}.reverse.each do |player| %>
    <div class="row">
      <div class="col-5 leaderboard">
        <%= player[0]%>
      </div>
      <div class="col-1 leaderboard">
        <%= player[1] %>
      </div>
    </div>
  <% end %>



</div>